@charset "UTF-8";
body {
	width:33em;
	height:auto;
	margin:auto;
	margin-top:60px;
	background-color: white;
	font-family:helvetica, sans-serif;
	color:black;
	font-size:1em;
	text-align:left;
	line-height:1.1;

}
h2 {
		width:40em;
		height:auto;
		margin:auto;
		margin-top:60px;
		background-color: white;
		color:black;
		font-family:sans-serif;
		font-size:1em;
		text-align:left;
		line-height:1.3em;
	}
}
hl {color:red}
p poem {
	font-family:serif;
	font-size:1em;
		text-align:right;
}
p hate {
	color:red;
	font-family:serif;
}
p mail{
	font-family:serif;
	font-size:1em;
}
a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:active{
  color:black;
}
