@charset "UTF-8";
body {
	font-family: Times;
	margin:0px;
	background-color: #0000ff;
}
p {
	width:40%;
	height:auto;
	margin:auto;
	/*color:#ffffff;*/
	color:black;
	text-align:left;
	max-width: 20em;

}
.textbox {
  border: 2px solid white;
	width: 40%;
	max-width: 20em;

	margin: auto;
	padding: 10px;
	background-color: white;
}


.poembox {
  border: 2px solid white;
	width:15em;
	height:auto;
	margin:auto;
	padding:10px;
	background-color: white ;
}

figure {
	width: 40%;
	text-align: center;
	margin:auto;
}

poem {
  margin-left: 2em;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a.fwd {
	position: absolute;
	top: 15em;
}

.vr {
  width: 1px;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 10vw;
	z-index: -1;

}
