body{
	color: #9dc3bf;
	background-color: black;
	font-family: monospace;
	max-width:43.5em;
	margin: auto;
	display: block;
}
article{
    margin: 2em;
}
h3 { text-align: center; }
sup {
	font-size: 0.75em;
}

a, sup { color: white; text-decoration: none;     ;
}
a:hover { color: darkgray; }

a.footnote-ref{
  text-decoration: none;
  position: relative;
}

a.footnote-ref:hover:before {
  content: attr(data-title);
  display: inline;
  padding: 0.5em;
  background: darkgray;
  color: black;
  position: absolute;
  top: 2em;
  left:-13vw;
  border-radius: 1px;
  padding-bottom: 0.7em;
  width: 28vw;
  font-size: 0.85em;
  white-space: pre-line;
  z-index: 1;
    -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  /*word-break: break-all;
  */
}

@media screen and (max-width: 500px) {
  article {
    margin-left: 2.5%;
    margin-right: 2em;
  }
a.footnote-ref:hover:before {
      left:-12vw;
        hyphens: auto;
}
}
