<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  In sixth-century Babylon, a pair of bronze serpents flanked each of the four
  doorways of the temple of Esagila.

  Two at megiddo, one at Gezre, one in the santcum sanctorum of the Area H temple
  at Hazor, and two at Schechem.</PRE></p>

  <p><a href="3.html">[]</a></p>

</body>
</html>
