<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  <u>Prodeginal, consolidator and the grandson.</u>

  The consummation of the world is the return of Judah's scepter, in the hand
  of King Solomon's seed, to the Temple. Thereafter, that which is is that which
  should be.

  I strove with none, for none was worth my strife.
  Nature I loved and, next to Nature, Art:
  I warm'd both hands before the fire of life;
  It sinks, and I am ready to depart.
</PRE></p>

<!--Walter Savage Landor-->

  <p><a href="4.html">[]</a></p>

</body>
</html>
