<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Aqua vitae, the water of life. Alcohol, the finest essence. Discovered in
  Baghdad alongside alchemy and Algebra.

  Earliest known brewery dates back to a 3500BC Sumerian trading post along the
  Silk Road. Man was a brewer before he was a baker.

  Some believe that brewing was the impetus behind domestication of grains...
  which made possible living in cities, which made possible imperialism, police,
  and slavery, which in turn led to writing which led to, well, we all know: our
  present dilemma.

  The last stop is Golgotha, hill of skulls.

  --

  The early Romans were temperate drinkers. Women were completely forbidden to
  drink on the grounds that it led to lust and adultery. In late Roman history,
  both sexes seemed to have embraced excess in wine for exactly the same reasons.

  The Scythian philospher Anacharsis visite Athens in 600BC and was repelled <body>
  the behavior he witnessed. When asked how to avoid excess in wine, Anacharsis
  advised observing those who did not. The Scythians themselves had no wine. They
  smoked hemp.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
