<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Slapped in the face by 1000 willow tree branches,

  The city, together with its successes and shadows:

  The missing tape, the back office, the black market, counterfeit currency, that
  lazy bureaucrat, the anonymous file, the phone tap or leaked SMS, forged
  paintings and defective pixels, the creepy smile of a tycoon, the politician's
  tongue, and the shadows of fly-by-night operators repeatedly breach the social
  contract through perverse pleasure fantasies and subterranean nightmares.

  I've seen these things happen they've happened to me they'll happen to you too.

  We shall never be able to explain or justify the town. The town is there. It's
  our space, and we have no other. We were born in towns. We grew up in towns...
  There's nothing inhuman in a town, unless it's our own humanity.

  What kind of narcotic is forgiveness?
  Does one lose energy? I do not know and I do not expect to know.

  Slapped in the face by 1000 willow tree branches.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
