<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Faced with the dilemma of either inventing a word or failing to write about a
  subject which I had come to believe ever more useful to society the deeper I
  have delved into studying it, I preferred to invent and write rather than to
  remain silent.

  Art is the attempt to engage attention by transforming objects and/or actions
  in order to appeal to species-wide cognitive preferences for the sake of the
  response this evokes. The more (1) the appeal is purely to these preferences,
  and the more (2) it operates within some tradition of appealing to (and, hence
  elaborating and refining) such preferences, and (3) the more skilled and
  successful is the attempt to engage attention and evoke a rich response, the
  more centrally it will be art.

  Discipline is the degree to which the long-term net-benefit is preserved
  at the opportunity cost of forgoing short-term net-benefit.

  Rational agents act to maximize expected utility (the average of the utility
  of each possible outcome weighted by its probability). It is always possible
  for a system to represent its prefences by the expectation of a utility function
  unless the system has "vulnerabilities" which cause it to lose resources
  without benefit.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
