<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  To that question so dear to the old explorers — which creatures live on deserted
  islands? - one could only answer: human beings live there already, but uncommon
  humans, a prototype, a man who would almost be a god, woman who would be a
  goddess, a great amnesiac, a pure Artist, a consciousness of Earth and Ocean,
  an enormous hurricane, a beautiful witch, a statue from the Easter Islands.
  There you have a human being who precedes himself.

  Dreams of a society which makes it possible for me to do one thing today and
  another tomorrow, to hunt in the morning, fish in the afternoon, rear cattle
  in the evening, criticize after dinner, just as I have a mind, without ever
  becoming hunter, fisherman, shepherd or critic.

  Walking is perhaps - mythologically - the most trivial, hence the most human
  gesture. Human history: a narrative of contingencies, not necessities.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
