<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Transit cranes, beeping taxi horns. I used to long for thunderstorms and
  bare-legged women. I was twenty-five before I realized stockings were sexy.

  When the king returns to Jordan from a trip abroad, two camels and a bull are
  slaughtered at the airport. In Egypt at that time, they called the east the
  God's land. Ta-netjer. The west is death, the setting sun. You will bury the
  dead on the west bank... the city of the dead. The east is cockcrow, the rising
  sun. This is where you will live, on the east bank. Put the house in the east,
  put the tomb in the west. Between there will be the river.

  Long united, the empire must divide. Long divided, the empire must unite.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
