<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>

  <a href="brew.html">[brew]<a><br>
  <a href="city.html">[city]<a><br>
  <a href="definitions.html">[definitions]<a><br>
  <a href="desert.html">[desert]<a><br>
  <a href="egypt.html">[egypt]<a><br>
  <a href="infowar.html">[infowar]<a><br>
  <a href="troublesome-canon.html">[troublesome_canon]<a><br>
  <a href="vanishing-point.html">[vanishing_point]<a><br>

  <a href="../epigraph.html">[return]</a></p></PRE>

</body>
</html>
