<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Just as water finds a way to run downhill, information finds a way to be free,
  and economic profits find a way to be made, intelligent systems will find a way
  to self-improve.

  In the multimedia environment of the 1990s, there is no longer a narrative in
  the deeper layer beneath the works and products, it is only characters that
  unite them. The consumer, knowing this, moves easily between projects with a
  narrative (comics, anime, novels) and projects without one (illustrations,
  figurines). The individual projects are simulacra and behind them is the
  database of character and settings.

  At yet another level, each character is a simulacrum, derived from the database
  of moe-elements. Rather than appreciating the character themselves, otaku
  appreciation of their awareness and inclusion of moe-elements is an appreciation
  of the underlying database of the character: database consumption.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
