<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  <u>Prophylactic of Self-Deception</u>

  The Ultimate Conspiracy is that one directed against the human race.
  Consciousness has forced us into the paradoxical condition of striving to
  be unself-conscious of what we are - hunks of spoiling flesh on disintegrating
  bones. We hide this konwledge with fabulous illusions, spending our lives hoping
  we don't catch on to any monkey business that would leave us stripped of our
  defense mechanisms and standing stark naked before the silent, staring void.

  Recognition of the facts of our existence is fatally demoralizing. Our biological
  predicament: too much consciousness is incapacitating. The only response to
  conscioussness of nature is to
  A) Deny & Conspire to Obscure, or
  B) Accept & Cease Reproduction

  Conspirational Strategies to minimize (immunize) our consciousness:
  1. ISOLATION (CÓonpsiracy of Silence)
  2. ANCHORING (God, Morality, Natural Law, Country, Family)
  3. DISTRACTION ("Better to kill time than kill oneself")
  4. SUBLIMATION (Diluted Displacement, e.g. Art)

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
