<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Sinister flattery: encoded psychic driving.

  Towns were founded on a contract between man & God - the first was permitted
  a conditional (and limited) use of the land in return for duties & observances
  paid to the second. The traditional elemnent in Ancient Rome objected to expansion
  beyond the original city boundaries, considering a breach of the foundation a
  breach of a contract with God.

  But as cities expand, these limitations become more onerous and neglected with
  the result that, in the language of the apocalypse, the city becomes Bablyon,
  the parasitic shore and proceeds toward swiftly towards destitution and
  destruction.

  Kenneth Grant: Magical Revival
  John Michell: The Earth Spiritual
  Devil, Diablo, Dual One

  <u>Imagery</u>
  Knight spearing the dragon: man's usurpation of natural creation/order (masonic)

  Sirius: Sun of the nearest Solar System, most important star in the Egyptian
  astronomical tradition and Satanic Harbringer of civilization:
      The Nile River. When the Old Egyptians saw Sirius, the brightest star,
      rising in th dawn sky in line with the rising sun, they knew the flood
      was imminent.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
