<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Troublesome Canon:
  1. <a href="psycho-warfare.html">Hoffman's Psycho Warfare</a>
  2. <a href="ligotti-conspiracy.html">Ligotti's Conspiracy Against the Human Race</a>

  (1) <a href="../library/conspiracy.html">Ultimate Uncertainty,</a> (2) <a href="../../zyg/dsptch/9.21.14-cathr.html">Ultimate Pessimism</a>

    <a href="index.html">[]</a>
  </PRE></p>
</body>
</html>
