<!doctype html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" href="../../css/notes.css">
<link rel="icon" type="image/ico" href="../favicon.ico">
<title>Diary</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132762659-2"></script><script> window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-132762659-2'); </script>
</head>
<body>
<p><PRE>
  Vanishing Point
  In fact the whole city has the transparency and supernatural, otherworldly cleanliness of a thing from outer space. A symmetrical, luminous, overpowering abstraction. At every intersection in the Tabernacle area - all marbles and roses, and evangelical marketing - an electronic cuckoo-clock sings out: such Puritan obsessiveness is astonishing in this heat, in the heart of the desert...
  And, beyond the lake, the Great Salt Lake Desert, where they had to invent the speed to cope with the absolute horizontality.
  You can understand why it took great magic on the Indians' part, and a terribly cruel religion, to exorcize such a theoretical grandeur as the desert's backdrop. What is man if the signs that predate him have such power? A human race has to invent sacrifice equal to the natural cataclysmic order that surrounds it.

  SALT LAKE CITY: the world genealogical archives, presided over in the depths of desert caves... the Bonneville track on the immaculate surface of the Great Salt Lake Desert, where prototype cars achieve the highest speeds in the world. Patronymic genesis as the depth of time, and the speed of sound as pure superficiality.

  Desert: luminous, fossilized network of an inhuman intelligence, of a radical indifference - the indifference not merely of the sky, but of the geological undulations, where the metaphysical passions of space and time alone crystallize.
  A desert where the miracle of the car, of ice and whisky is daily re-enacted: a marvel of easy living mixed with the fatality of the desert. A miracle of obscenity that is genuinely American: a miracle of total availability, of the transparency of all functions in space, though this latter nonetheless remains unfathomable in its vastness and can only be exorcised by speed.
  This form of travel admits no exceptions: when it runs up against a known face, a familiar landscape, or some decipherable message, the spell is broken: the amnesiac, ascetic, asymptotic charm of disappearance succumbs to affect and worldly semiology.
  The form that dominates the American West, and doubtless all of American culture, is a seismic form: a fractal, interstitial culture, born of a rift with the Old World, a tactile, fragile, mobile, superficial culture - you have to follow its own rules to grasp how it works: seismic shifting, soft technologies.

  New York
  Plumes of smoke, reminiscent of girls wringing out their hair after bathing. Afro or pre-Raphaelite hairstyles. Run-of-the-mill, multiracial. City of Pharaohs, all obelisks and needles. The blocks around Central Park are like flying buttresses, lending the huge park an appearance of hanging garden.

  Here crowdedness lends sparkle to each of the ingredients in the mix whereas elsewhere it tends to cancel out differences. In Montreal, all the same elements are present - ethnic groups, buildings, and space on the grand American scale - but the sparkle and violence of American cities are missing.

  In Paris, the sky never takes off. It doesn't soar above us. It remains caught up in the backdrop of sickly buildings, all living in each other's shade, as though it were a little piece of private property. It is not, as here in the great capital New York, the vertiginous glass facade reflecting each building to the others. Europe has never been a continent. You can see that by its skies. As soon as you set foot in America, you feel the presence of an entire continent - space there is the very form of thought.

  Modern demolition is truly wonderful. As a spectacle it is the opposite of a rocket launch. The twenty-storey block remains perfectly vertical as it slides towards the centre of the earth.

  The American street has not, perhaps, known these historic moments, but it is always turbulent, lively, kinetic, and cinematic, like the country itself, where the specifically historical and political stage counts for little, but where change, whether spurred by technology, racial differences, or the media, assumes virulent forms: its violence is the very violence of the way of life.

  Such is the whirl of the city, so great it's centrifugal force, that it would take superhuman strength to envisage living as a couple and sharing someone else's life in New York. Only tribes, gangs, mafia families, secret societies, and perverse communities can survive, not couples. This is the anti-Ark... each one comes in alone - it's up to him or her to find the last survivors for the last party.

  'Breakdancing' is a feat of acrobatic gymnastics. Only at the end do you realize it actually was dancing, when the dancer freezes into a lazy, languid pose (elbow on the ground, head nonchalantly resting in the palm of the hand, pose you see on Etruscan tombs). The way they suddenly come to rest like this is reminiscent of Chinese opera. But the Chinese warrior comes to a halt at the height of the action in a heroic gesture, whereas the breakdancer stops at the slack point in his movements and the gesture is derisive. You might say that in curling up and spiraling around on the ground like this, they seem to be digging a hole for themselves within their own bodies, from which to stare out in the ironic, indolent pose of the dead.

  ...they are all seeking death, that death by exhaustion that was the fate of the first Marathon man some two thousand years ago. And he, let us not forget, was carrying a message of victory to Athens. They also dream no doubt of bringing a victory message, but there are too many of them and their message has lost all meaning: it is merely the message of their arrival, at the end of their exertions...
  'We won', gasped the man from Marathon as he expired. 'I did it!', sighs the exhausted marathon runner of New York as he collapses on the grass in Central Park.
  I DID IT!
  The slogan of a new form of advertising activity, of autistic performance, a pure and empty form, a challenge to one's own self that has replaced the Promethean ecstasy of competition, effort and success.
  The moon landing is the same kind of thing: 'We did it!' The event was ultimately not really so surprising; it was an event pre-programmed into the course of science and progress. We did it. But it has not revived the millenarian dream of conquering space. In a sense, it has exhausted it.

  That life begins again each morning is a kind of miracle, considering how much energy was expended the day before. Its voltage protects it, like a galvanic dome, from all external threats - though not from internal accidents like the blackout of '76. Yet the scale of the

  It has to be said that New York and Los Angeles are at the centre of the world, even if we find the idea somehow both exciting and enchanting. We are a desperately long way behind the stupidity and the mutational character, the naive extravagance and the social, racial, moral, morphological, and architectural excentricity of their society. No one is capable of analysing it, least of all the American intellectuals shut away on their campuses, dramatically cut off from the fabulous concrete mythology developing all around them.

  It is a world completely rotten with wealth, power, senility, indifference, puritanism and mental hygiene, poverty and waste, technological futility and aimless violence, and yet I cannot help but feel it has about it something of the dawning of the universe. Perhaps because the entire world continued to dream of New York, even as New York dominates and exploits it.

  Astral America
  Joy in the collapse of metaphor, which here in Europe we merely grieve over. The exhilaration of obscenity, the obscenity of obviousness, the obviousness of power, the power of simulation.
  It may be that the truth of America can only be seen by a European, since he alone will discover here the perfect simulacrum - that of the immanence and material transcription of all values. The Americans, for their part, have no sense of simulation. They are themselves simulation in its most developed state, but they have no language in which to describe it, since they themselves are the model.

  America is a giant hologram, in the sense that information concerning the whole is contained in each of its elements. Take the tiniest little place in the desert, any old street in a Mid-West town, a parking lot, a Californian house, a BurgerKing or a Studebaker, and you have the whole of the US - South, North, East, or West.
  Holographic also in that it has the coherent light of the laser, the homogeneity of the single elements scanned by the same beams... Las Vegas and advertising, and even the activities of the people, public relations, and everyday electronics all stand out with the plasticity and simplicity of a beam of light.

  Western Digitals
  Body Building Incorporated
  Mileage unlimited
  Channel Zero

  Seedy bar in Santa Barbara. The billiard player's red braces. Foucault, Sartre, and Orson Welles all standing together at the counter, talking to each other, strangely convincing, strikingly like the originals. 'Cocktail scenery.' The smell of violence, the stale odour of beer. 'Hustling is prohibited.'
  Sex, beach, and mountains. Sex and beach, beach and mountains. Mountains and sex.
  The body is a scenario and the curious hygienist threnody devoted to it runs through the innumerable fitness centers, body-building gyms, stimulation and simulation studios that stretch from Venice to Tupanga Canyon, bearing witness to a collective asexual obsession.
  Nothing evokes the end of the world more than a man running straight ahead on a beach... The only comparable distress is that of a man eating alone in the heart of the city
  Not to be aware of the natural light of California, nor even of a mountain fire that has been driven ten miles out to sea by the hot wind, and is enveloping the offshore oil platforms in its smoke, to see nothing of all this and obstinately to carry on running by a sort of lymphatic flagellation till sacrificial exhaustion is reached, that is truly a sign from the beyond.

  <a href="index.html">[]</a>
</PRE></p>

</body>
</html>
